[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apispec = {extras = ["yaml"], version = "==5.0"}
apispec-webframeworks = "==0.5.2"
flask = "==2.1"
flask-cors = "==3.0.10"
flask-marshmallow = "==0.14"
Flask-Migrate = "==3.0"
Flask-RESTful = "==0.3.9"
flask-socketio = "==5.1.1"
markdown = "==3.3.4"
marshmallow-sqlalchemy = "==0.25"
pandas = "==1.4"
passlib = "==1.7.4"
pyarrow = "==7.0"
python-dotenv = "==0.19"
python-magic = {version = "==0.4.24", sys_platform = "!= 'win32'"}
pytz = "==2021.3"
rdp = "==0.8"
simple-websocket = "==0.3"
tzlocal = "==3.0"
pyngrok = "==5.1"
flask-talisman = "==1.0"
jinja2 = "==3.0.3"

networkx = "==2.6"
openpyxl = "==3.0.3"
sqlalchemy = "==1.4"
toml = "==0.10"

mkdocs = "*"
mkdocs-autorefs = "*"
mkdocs-include-markdown-plugin = "*"
mkdocs-macros-plugin = "*"
mkdocs-material = "==7.3.0"
mkdocs-material-extensions = "*"
mkdocstrings = "==0.17"

[requires]
python_version = "3"
