[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"backports.zoneinfo" = {version="==0.2.1", markers="python_version < '3.9'", extras=["tzdata"]}
apispec = {extras = ["yaml"], version = "==5.0"}
apispec-webframeworks = "==0.5.2"
bcrypt = "==3.2.2"
deepdiff = "==6.2.2"
flask = "==2.2.2"
flask-cors = "==3.0.10"
flask-jwt-extended = "==4.3"
flask-marshmallow = "==0.14"
flask-migrate = "==3.0"
flask-restful = "==0.3.9"
flask-socketio = "==5.3.0"
gevent = "==22.10.2"
gevent-websocket = "==0.10.1"
gitignore-parser = "==0.1.1"
kthread = "==0.2.3"
ldap3 = "==2.9.1"
markdown = "==3.4.1"
markupsafe = "==2.1.1"
marshmallow-sqlalchemy = "==0.25"
modin = {extras = ["dask"], version = "==0.16.2"}
networkx = "==2.6"
openpyxl = "==3.0.7"
pandas = "==1.5.1"
passlib = "==1.7.4"
pyarrow = "==10.0.1"
pymongo = "==4.2.0"
python-dotenv = "==0.19"
pytz = "==2021.3"
simple-websocket = "==0.9"
sqlalchemy = "==1.4.18"
toml = "==0.10"
tzlocal = "==3.0"

[dev-packages]
jinja2 = "3.1.0"
mkdocs = "*"
mkdocs-autorefs = "*"
mkdocs-include-markdown-plugin = "*"
mkdocs-macros-plugin = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocstrings = "*"
mkdocstrings-python = "*"
requests = "*"

[requires]
python_version = "3"
